/* .navbar {

} */

/* #navtags {
  display: flex;
} */
#section1 {
  height: 900px;
  background-color: pink;
}

#section2 {
  height: 900px;
  background-color: yellow;
}

#section3 {
  height: 900px;
  background-color: blue;
}

/* #about {
  background-color: aqua;
  height: 1100px;
}

#landing {
  background-color: rgb(20, 78, 78);
  height: 1100px;
}

#contact {
  background-color: rgb(9, 255, 0);
  height: 1100px;
}

#experience {
  background-color: rgb(132, 0, 255);
  height: 1100px;
}

#skillsets {
  background-color: rgb(255, 60, 0);
  height: 1100px;
}

#portfolio {
  background-color: rgb(255, 0, 21);
  height: 1100px;
} */
