/* Header and Nav css
******************************************************* */
.navbar {
  background-image: linear-gradient(
    to right,
    rgb(36, 36, 36),
    grey,
    rgb(36, 36, 36)
  );
  color: white;
  /* font-family: "Syncopate", sans-serif; */
}

.navbar-brand {
  /* font-family: "Syncopate", sans-serif; */

  color: white;
  margin-left: 30px;
}
#name {
  color: white;
  font-family: "Syncopate", sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
}
#navtags {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  color: white;
}
#navanch {
  color: white;
  background-color: rgba(0, 0, 255, 0);
}

/* Landing section css
*************************************************************** */
#section1 {
  display: flex;
  height: 800px;
  background-image: url(galleries/art_gallery/artgall/red_record_lgpng.png);
  background-position: right; /* background-color: rgba(185, 185, 185, 0.52); */
  justify-content: center;
  /* align-content: center; */
  padding-top: 30px;
}
#jumbo1 {
  width: 80%;
  height: 680px;
  padding-left: 30px;
  z-index: 10;
  color: white;
  border-radius: 20px;
}
#jumbodiv {
  /* background-color: rgba(49, 49, 49, 0.603); */
  border: 5px solid white;
  padding-top: 20px;
  padding-left: 45px;
  border-radius: 20px;
  box-shadow: 1px 6px 15px 4px rgba(0, 0, 0, 0.849);
}
#jumbotitle {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 55px;
  text-align: left;
  display: block;
  align-content: flex-start;
  line-height: 45px;
}
#myname {
  /* margin-top: 30px; */
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;

  font-size: 30px;
  letter-spacing: 5px;
  line-height: 45px;
}
#jumbosubtit {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;

  font-size: 30px;
  letter-spacing: 5px;
  line-height: 45px;
}
#welcometext {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;

  font-size: 30px;
  letter-spacing: 5px;
  line-height: 35px;
}
/* about me grid */
.rowing {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.collme {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

col-6 {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
/* About Me section css
******************************************************* */
#section2 {
  /* height: 750px;
  background-color: rgba(0, 0, 0, 0.452); */
  width: 100%;
  display: flex;
  height: 900px;
  background-image: url(galleries/art_gallery/artgall/red_record_lgpng.png);
  justify-content: center;
  /* align-content: center; */
  padding: 50px;
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}

#rowa {
  margin-top: 40px;
  width: 100%;
  height: 80px;

  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgba(151, 149, 149, 0.582),
    rgb(0, 0, 0)
  );
}
#rowb {
  width: 100%;
  padding-top: 20px;
  height: 400px;
}
#colbord {
  /* border-left: 1px solid white;
  border-right: 1px solid white; */
  padding-top: 20px;
}
#aboutline {
  border-right: 1px solid rgba(255, 255, 255, 0.883);
}

/* about Content */
h1 {
  display: flex;
  color: white;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.textcol {
  padding-left: 20px;
  padding-top: 20px;
}

.abouttext {
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
}

#aboutpic {
  width: 100%;
  height: auto;
}

.aboutext {
  padding-top: 20px;
}
/* experience  */
#section3 {
  height: 750px;
  background-color: blue;
}

#section4 {
  height: 750px;
  background-color: rgb(102, 72, 52);
}

#section5 {
  height: 950px;
  background-color: rgb(0, 0, 0);
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
}
/* Cards to the various galleries */

.col {
  display: flex;
  justify-content: center;
  width: 50%;
}
.card {
  height: 375px;
  width: 70%;
  border: 1px solid rgb(255, 255, 255);
}
.card-img-top {
  height: 70%;
}
.card-body {
  background-color: rgba(148, 148, 148, 0.849);
  color: white;
  border-top: 1px solid white;
}
.card-title {
  text-align: center;
  font-size: 30px;
}
.card-text {
  text-align: center;
}
#cardanchor {
  color: white;
}
/* Gallery css rules */
#gallerynav {
  display: flex;
  justify-content: stretch;
}
#gobackdiv {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* position: absolute;
  right: 20px; */
}
/* Contact section css */
#section6 {
  height: 750px;
  background-color: rgb(177, 168, 119);
}
