.navbar {
  background-color: blue;
}

/* #navtags {
  display: flex;
} */

#section1 {
  height: 900px;
  background-color: pink;
}

#section2 {
  height: 900px;
  background-color: yellow;
}

#section3 {
  height: 900px;
  background-color: blue;
}

#section4 {
  height: 900px;
  background-color: rgb(102, 72, 52);
}

#section5 {
  height: 900px;
  background-color: rgb(119, 119, 177);
}
#section6 {
  height: 900px;
  background-color: rgb(177, 168, 119);
}
